
.project

.classpath

.settings/.jsdtscope

*.prefs

*.component

.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

.settings/org.eclipse.wst.common.project.facet.core.xml

*.container

*.name

log.roo

target/classes/META-INF/aop-ajc.xml

target/classes/META-INF/spring/applicationContext.xml

target/classes/META-INF/persistence.xml

target/classes/META-INF/spring/database.properties

*.lst

*.class

target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

target/m2e-wtp/web-resources/META-INF/maven/com.knowprocess.rootest/rootest/pom.properties

target/classes/log4j.properties

target/m2e-wtp/web-resources/META-INF/maven/com.knowprocess.rootest/rootest/pom.xml

target/test-classes/META-INF/aop-ajc.xml
