/BarDataOnDemand_Roo_Configurable.aj
/BarDataOnDemand_Roo_DataOnDemand.aj
/BarDataOnDemand.java
/BarIntegrationTest_Roo_Configurable.aj
/BarIntegrationTest_Roo_IntegrationTest.aj
/BarIntegrationTest.java
/FooDataOnDemand_Roo_Configurable.aj
/FooDataOnDemand_Roo_DataOnDemand.aj
/FooIntegrationTest_Roo_Configurable.aj
/FooIntegrationTest_Roo_IntegrationTest.aj
/FooIntegrationTest.java
